.menu{
    width: 60%;
    padding: 2rem 4rem;
    margin: 0 auto;
}
.mat{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.k{
    font-size: 3rem;
    justify-content: center;
    color: antiquewhite;
}
@media screen and (max-width: 1050px){
    .menu{
        width: 90%;
    }
}