
  /* Styling for main content area */
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    width: 80%;
  }
  
  /* Styling for room cards */
  .room {
    background-color: var(--main-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
  }
  
  /* Styling for room images */
  .room img {
    margin-bottom: 20px;
    max-width: 100%;
  }
  
  /* Styling for room type */
  .room h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  /* Styling for room description */
  .room p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  /* Styling for booking form */
  form {
    background-color: var(--main-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    padding: 20px;
    width: 80%;
  }
  
  /* Styling for form labels */
  label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Styling for form inputs */
  input {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
  }
  
  /* Styling for form submit button */
  button {
    background-color: #222;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: whitesmoke;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  
  /* Styling for form submit button hover state */
  button:hover {
    background-color: #444;
  }
  