*{
  text-shadow: none;
}
header{
  height: initial;
  padding-bottom: 5rem;
  background-position: 30% 30%;
}
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    width: 80%;
  }
  
  /* Styling for room cards */
  .room {
    background-color: var(--main-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 80vw;
  }
  
  /* Styling for room images */
  .room img {
    margin-bottom: 20px;
    max-width: 100%;
  }
  
  /* Styling for room type */
  .room h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  #room-type{
    padding: 10px; 
    margin: 5px;
  }
  /* Styling for room description */
  .room p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  /* Styling for form labels */
  label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin: 5px;
  }
  .in-utcheckning{
    display: flex;
    gap: 10px;
    background-color: var(--main-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    padding: 20px;
  }
  /* Styling for form inputs */
  .datum {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    margin: 5px;
  }
  
  /* Styling for form submit button */
  .bok-knapp {
    background-color: #222;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: whitesmoke;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    margin: 5px;
  }
  #bokning > form > div{
    justify-content: center;
    align-items: center;
  }
  /* Styling for form submit button hover state */
  button:hover {
    background-color: #444;
  }
  